<div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet">
                
                
                <div class="demo-card-wide mdl-card mdl-shadow--4dp"> 
				<form ng-submit="subForm()" name="contactForm">
				<h4 class="reg"> Registration Form </h4>
                <div class="mdl-grid">
				
                                 <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                                 <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
														<input class="mdl-textfield__input txt" type="text" id="name" ng-model="user.name" required>
														<label class="mdl-textfield__label" for="name">Name</label>
												</div>
                                  </div>
                              
               </div>

                    <div class="mdl-grid">
                                 <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                             <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input txt" type="text" id="phno" required ng-model="user.phno">
                                                <label class="mdl-textfield__label" for="phno">Ph No.</label>
                                                </div>
    
								</div>
					</div>
                    
                    
                       <div class="mdl-grid">
                                 <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                            
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input txt" type="email" id="email" required ng-model="user.email">
                                                <label class="mdl-textfield__label" for="email">Email</label>
                                                </div>
                                            
                            
                            
                                  </div>
                               
    
                        </div>
                        
                        
                       <div class="mdl-grid">
                                 <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                            
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input txt" type="text" id="address" required ng-model="user.address">
                                                <label class="mdl-textfield__label" for="address">Address</label>
                                                </div>
                                            
                            
                            
                                  </div>
                                
                           
    
                        </div>
                    
                           
                       <div class="mdl-grid">
                           
            
                           
                                 <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet">
                                            <hr>
                                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--green-300 mdl-color-text--white">
                                                        Submit
                                                </button>
                            
                            
                                 
                                  
                                                <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red-300 mdl-color-text--white">
                                                        Reset
                                                </button>
                         
                         
                         
                         
                                </div>
    
                        </div>
               
				</form>
                </div>
				
              </div>
           
</div>

